h1{text-align: center;}

.global_nav{
    list-style:none;
}


.global_nav li {
    
    text-align: center;
    background-color: #333;
    float: left;
    
    line-height: 50px;
    margin-right: 2px;
  }

.global_nav li:hover {
    background-color: gray
  }

  nav{
    margin-left: 30px;
}
 .global_nav li a {
    text-decoration: none;
    color: #fff;
  font-weight: bold;
  padding: 20px;
  }
  

  .hello{
      
      width:300px;
      height:20px;
    }
.hello li{
    list-style: none;
}

.hello a{
    margin-right: 0;
}
input{
    width: 350px;
} 

div.n{
    display: block;
    border: groove;
    margin: 10px;
    margin-right: 30%;
}
div.n li{
    list-style: none;
    margin-left: 10px;
}

div.an{
    display: block;
    border: groove;
    margin: 10px;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 30px;
}
div.an li,button,label{
    display: inline-block;
    margin:10px;
    padding: 2px 10px;
}
div.an button{
    border: groove;
    
    margin-right:2px;
}
div.an li  {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
color: #494949;/*文字色*/
background: #f4f4f4;/*背景色*/
border-left: solid 5px #7db4e6;/*左線*/
border-bottom: solid 3px #d7d7d7;color: #494949;
}

div.an h3  {
    width:30%;
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
color: #494949;/*文字色*/
background: #f4f4f4;/*背景色*/
border-left: solid 5px #7db4e6;/*左線*/
border-bottom: solid 3px #d7d7d7;color: #494949;
    

}
header{
    margin-left: 50px;
    display: inline-flex;
}

#background{
    background-color: #fff
}

#back_color{
    background-color: #eceef1;
    
}

label {
    display: inline-block;
    margin: 10px;
    padding: 2px 10px;
    margin-right: 50px;
    border-right: groove;
}

div.al{
    background-color: #fff;
    border-top:ridge;
}
div.an p{
    margin-left:20px;
}
div.an strong{
    font-size: 20px;
}