extends base
block content
    div.row
        form(action="/check/accept", method="post")
            label
                input(type="text")
            label
                input(type="text")
    div.row
        button